@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/phoneBook")
}

<form>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control contact-name" type="text" placeholder="Имя" />
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control contact-phone" type="text" placeholder="Телефон" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary create-contact-button" type="button">Создать</button>
    </div>
</form>

<table class="table contacts-table">
    <thead>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>